/** { margin: 0; padding: 0; }
p { padding: 10px; }*/
*{font-family: sans-serif; margin: 0; padding: 0; color:#494437;}
div, li{border:1px dotted #d34d17}
table tr td{padding:10px;}
table thead th,td{padding:10px;border: 1px solid orange;}
table {font-size: 20px; border-collapse: collapse;}
table {margin: 10px;}
body {background-color: cornsilk; overflow: hidden;}
#leftpanel {z-index:2; position: fixed; width: 80px; height: 100%; box-sizing: border-box; border-right: 4px solid #F39814;}

.orderViewer {position:absolute; top:10px; bottom:10px; left:10px; right:10px; border-color: blue; display:none;}
/*  height: calc(100% - 40px); width: calc(100%-10px); margin: 20px 10px;*/
#divR, #divP {float: left; width:40%;}
/*background-color: #F39814;*/

#menu .ui-selecting { background: #FECA40; }
#menu .ui-selected { background: #F39814; color: white; }
#menu { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#menu li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 48px; }
#comment {font-size: 1.5em; margin: 10px 10px 10px 10px; color: red;}

#userinfo{position: absolute; top:0; right: 30px;}

.chart {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    right:10px;
    top: 10px;    
    font-size: 40px;
    font-weight:bold;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.digit {
    display: inline-block;
    line-height: 200px;
    z-index: 2;
}

/*.chart {
    position: fixed;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    right:10px;
    top: 10px;    
    font-size: 40px;
    font-weight:bold;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.digit {
    display: inline-block;
    line-height: 200px;
    z-index: 2;
}*/
/*.digit:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}*/

.tProducts{width: 90%;}
/*#footer{position:fixed;bottom:20px;right:20px; height:200px}*/
#footer{position: absolute; width:100%; bottom: 0;}

#divPrint {
    visibility: hidden;
}
@media print {
    body * {
        visibility: hidden;
    }
    #divPrint, #divPrint * {
        visibility: visible;
    }
/*    #divPrint {
        position: absolute;
        left: 0;
        top: 0;
    }*/
}