/*#leftpanel {z-index:2; position: fixed; width: 80px; height: 100%; box-sizing: border-box; border-right: 4px solid #F39814;}*/

/*.orderViewer {position:absolute; top:40px; bottom:10px; left:80px; right:10px; display:none;}*/
.orderViewer {
    display:none;
    position:absolute;
    width:1035px;
    min-height: 480px;
    top:40px;
    bottom:10px;
    left:80px;
    /*    right:10px;*/
}

.orderViewer table{
    font-size: 0.9em;
    white-space: nowrap;
    /*  width: 100px;*/
}

.pricingPic{
    position: absolute;
    right: 0;
    top: -14px;
    height:40px;
    /*z-index:10;*/
}

.ui-dialog .orderViewer{
    margin-left: 30px;
    margin-top: 10px;
}

.ui-dialog .pricingPic{
    top: -44px;
}

.orderViewer.ord-pricingType-1 .pricingPic{
    content:url(../images/ilkato.png);
}

.orderViewer.ord-pricingType-2 .pricingPic{
    content:url(../images/sxl.png);
}

/*  height: calc(100% - 40px); width: calc(100%-10px); margin: 20px 10px;*/

.mk {
    float: left;
    width:500px;
    padding-top:6px; 
    margin-left: 10px; 
    height: 90%;
    overflow-y:auto;
}
.mk .tProducts{
    position: relative; 
    margin-left: auto; 
    margin-right: auto;
    width: 90%;
}
/*background-color: #F39814;*/
.mk .doneButton{
    font-size: 2em;
    font-weight:bold;
    position: relative;
    margin:20px;
    width: calc(100% - 40px);
}
.ui-dialog .mk .doneButton{
    visibility: hidden;  
}
/*.selPanel {
    z-index:3;
    left:100px;
    float: left;
    width: 70px;
    height: 100%;
    box-sizing: border-box;
    border-right: 4px solid #F39814;
}
.selItems .ui-selecting { background: #FECA40; }
.selItems .ui-selected { background: #F39814; color: white; }
.selItems { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.selItems li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1.8em;
    text-align:center;
    line-height: 32px;
    height: 32px;
}
.selItems li:hover {opacity: 0.2;}
.ui-selectable-helper{display:none;}*/

div.imgRoll {
    /*   background-image:url(../bg_japan.png);*/
    content:url(../bg_japan.png);
    width:15px;
    height:15px;
}​

div.imgPizza {
    /*   background-image:url(../bg_japan.png);*/
    content:url(../bg_italian.png);
    width:15px;
    height:15px;
}​

/*тут какой-то косяк. убираешь строчку и стиль коммента меняется*/
.orderViewer.ord-pricingType-2 .comment{
}
.orderViewer .comment {
    font-size: 1.5em;
    margin: 10px 10px 10px 10px;
    color: red;
    
}


/*default timer style*/
.ktimer {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    right:10px;
    top: 20px;    
    font-size: 40px;
    font-weight:bold;
    z-index: 1000;
}
.ktimer canvas {
    position: absolute;
    top: 0;
    left: 0;
}
/*.digit:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}*/

/*.digit {
    display: inline-block;
    line-height: 200px;
    z-index: 2;
}*/


/*#footer{position:fixed;bottom:20px;right:20px; height:200px}*/
#footer{position: absolute; width:100%; bottom: 0;}
