.order {
    /*    width:auto;*/
    width: 130px;
    height:130px;
    margin: 5px;
    position: relative;
}

.order:hover {
    /*    border-color: red;*/
    /*    background-color: yellow;*/
}

/*принятые*/
#o_ordersPanel{
    border: 1px solid #eee;
    width: 162px;
    min-height: 180px;
    margin: 0;
    height: 600px;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    overflow-y: auto;
}

.ord-workplace-3{
    border: 4px double green;
    background-color: lightgreen;
}
.ord-workplace-4{
    border: 4px double red;
    background-color: lightsalmon;
}

#o_ordersPanel .order {
    /*    width:auto;*/

}


#o_activeOrdersPanel{
    border: 1px solid #e78f08ee;
    width: 80%;
    min-height: 160px;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    overflow-y: auto;
}

.o_orderBatchPanel{
    height: 147px;
    border: 1px solid #eee;
    margin: 5px;
}

.o_itemsPanel{
    height: 145px;
    border: 1px solid #eee;
    width:900px;
    float:left;
}

.o_orderBatchPanelButtons {
    width:25px;
    height: 145px;
    float:left;
    position: relative;
    bottom:0;
    font-size: 0.5em;
}
.o_orderBatchPanelButtons button{
    bottom:0;
    position: absolute;
}

.o_orderBatchPanel .order {
    display:inline-block;
}


.kplace{
    position: absolute;
    bottom:0px;
    left:0;
    width: 120px;
    font-size: 0.8em;
    padding: 0 0px 0 4px;
}
.kplace button{
    width: 54px;
    margin: 0px 6px 0 0;
}
/*.kplace .bGreen{
    background: none;
    background-color: lightgreen;
}
.kplace .bOrange{
    width: 54px;
    background: none;
    background-color: lightsalmon;
}*/
#topwidget{
    font-size: 0.8em;
    position: absolute;
    margin-left: 280px;
    width:400px;
    height:34px;
    padding: 4px;
}

#topwidget .ui-checkboxradio-checked{
    background:none;
    background-color: #FECA40;
}
#topwidget input{
    font-size: 1.2em;
    width: 90px;
    line-height: 30px;
    padding-left: 6px;
}

.o-filter-rg{
    border: none;
    float: right;
}

.o_price{
    font-size: 0.7em;
    position: absolute;
    bottom:0px;
    right:0px;
    width: auto;
}
.o_price:after{
    content: " руб";
}

.order-header {
    padding: 0.1em;
    /* margin-bottom: 0.5em; */
    position: relative;
    font-size: 2em;
    /*height: 60px;*/
}
/*.ui-state-disabled .order-content{
    text-decoration: line-through;
}*/

.ui-state-disabled .order-content ul {
    list-style: none;
}
/*.ui-state-disabled .order-content ul li {
    position: relative;
}
.ui-state-disabled .order-content ul li:after {
    content: '\2714';
    position: absolute;
    top: -3px;
    left: -25px;
}*/

.order-header .time{
    /*padding: 0.3em 0.3em;*/
    /*    margin-bottom: 0.5em;
        position: relative;*/
    font-size: 0.25em;
    position: absolute;
    right: 2px;
    top: 4px;
    /*background-color: red;*/
}
/*.order-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}*/
.order-content {
    padding: 0 0 0 0.4em;
    white-space: normal;
    font-size: 0.55em;
    overflow: auto;
    margin-bottom: 0.2em;
    height:80px;
}
/*.ui-button{
    bottom: 0;
    padding: 0;
    margin: 0;
}*/
.order-placeholder {
    border: 1px dotted black;
    margin: 1em 1em 1em 1em;
    width: 30px;
    height: 130px;
    /*float: left;*/
    display: inline-block;
}

/*.products{
    border: 1px dotted black; 
    font-size: 0.7em;
    height: 100px;
    overflow: auto;
    margin-bottom: 0.2em;
}*/

.o_orderViewerDlg .orderViewer{
    left:0;
    right: 0;
    top:"10px";
}
.o_orderViewerDlg .orderViewer #orderheader{
    visibility: hidden;
    height: 0;
}

.ord-status-7{
    opacity: 0.2;
}

.ord-status-6{
    opacity: 0.2;
}

.ord-status-5{
    opacity: 0.4;
}

.ord-status-4{
    opacity: 0.7;
}

.ord-status-3{
    opacity: 0.9;
}

.ord-status-2{
}

.ord-status-1{
}

@keyframes blinker {  
  50% { opacity: 0; }
}
.ord-status-8{
/*    opacity: 0.2;*/
    animation: blinker 500ms linear infinite;
}